<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression" parallel="tests" thread-count="2" >
	<listeners>
		<listener class-name="com.zoopla.reports.TestListener"></listener>
	</listeners>
	<test name="zooplaTest1">
		<parameter name="browser" value="firefox" />
		<parameter name="sortBy" value="highest_price" />
		<parameter name="propertyN" value="5" />
		<parameter name="sCity" value="London" />
		<classes>
			<class name="com.zoopla.tests.ZooplaTest" />
		</classes>
	</test>
	<test name="zooplaTest2">
		<parameter name="browser" value="chrome" />
		<parameter name="sortBy" value="lowest_price" />
		<parameter name="propertyN" value="3" />
		<parameter name="sCity" value="South London" />
		<classes>
			<class name="com.zoopla.tests.ZooplaTest" />
		</classes>
	</test>
</suite> <!-- Regression -->
